
<div id="content">
  <div id="container">
    <div class="header">
      <div id="icon_cell">
        <img class="text-center" src="/img/hurricane.jpg" style="width:40%; margin:10px;">
      </div>
    </div>

    <div id="continue">
      <h1>EmergencyChat</h1>
      <p> Built by Marco Ferri at WildHacks 2017 </p>
      
      <h5> Emergency chat is a service to help you stay in touch with your local community during natural disasters
      </h5>
      <h4> Instructions for Civilians </h4>
      <p> Click on "GO TO CHAT" below to access the chat </p>
      <h2> <a href='/chat'> GO TO CHAT </a> </h2>

      <h4> Instructions for Emergency Personnel </h4>
      <p> Please go ahead and login below with your credentials </p>

      <form action={{login_url}} method="post" class="form col-md-12 center-block">
        <input type="hidden" name="success_url" value={{success_url}} />
        <div class="form-group">
          <div class="error">
            {{recent_error}}
          </div>

          <input class="form-control input-lg" type="text" name="username" placeholder="Username or email">
          <i class="icon-user icon-large"></i>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="password" name="password" placeholder="Password">
          <i class="icon-lock icon-large"></i>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Sign In</button>
          <span class="pull-left"><a href="#">Terms and Conditions</a></span>

        </div>
      </form>
    </div>
    <div class="row">
    </div>
  </div>
  <div class="footer">
      <p>Client IP: {{client_ip}}</p>
      <p>Client MAC: {{client_mac}}</p>
      <p>AP Tags: {{ap_tags}}</p>
      <p>AP Name: {{ap_name}}</p>
      <p>AP MAC: {{node_mac}}</p>
    <h3>POWERED BY</h3>
    <img class="text-center" src="/img/cisco-meraki-gray.png" style="width:10%; margin:10px;">
  </div>
</div>
